<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    

    

</head>
<body style="text-align: center;"background-color:goldenrod;>
    <h2>About me</h2>
<p>Hey guys<br>
    I am by the names Ameso Immaculate . l live in soroti<br>
    I am currently pursing a diploma in computer science <br>
    At WITU , where i learn coding and graphics designs.<br>
    I would  also like to engage myself in web development too<br>

</body>
</html>











